@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Heebo&family=Roboto&family=Roboto+Flex:opsz@8..144&family=Rubik:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    color: white;
    font-weight: 400;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

p {
    font-size: 1.2vw;
    color: rgb(153, 153, 153);
    font-family: 'Roboto Flex', sans-serif;
}

a {
    text-decoration: none;
}

i {
    font-size: 1.4vw;
}

.bar {
    height: .2vw;
    width: 6vw;
    background-color: #fff;
    display: inline-block;
}

.p-topbar {
    display: flex;
    align-items: center;
    gap: 17px;
}

#menu-section {
    background-color: black;
    position: fixed;
    left: -100%;
    top: 0%;
    height: 100vh;
    width: 50%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 8vw;
    overflow: hidden;

}

#menu-section .cross {
    /* background-color: red; */
    width: fit-content;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 20px;

    /* border-radius: 50%; */
}

#menu-section .cross .into {
    font-size: 8vw;
}

#menu-section .menu {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    align-items: flex-start;
    padding-left: 30px;
    padding-bottom: 40px;
}


#menu-section .profile .name h2,
#menu-section .profile .name h2 span {
    font-size: 2.7vw;
    text-align: center;
    font-family: 'Goldman', sans-serif;
    text-transform: uppercase;
    margin-top: 10px;
    text-shadow: 3px 3px 3px rgb(3, 0, 155);
    font-weight: 100;
}

#menu-section .profile .image {
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#menu-section .menu a p {
    font-size: 3vw;
    color: rgb(185, 185, 185);
    font-family: 'Heebo';
}

#menu-section .menu a:hover p,
#menu-section .menu a:hover i {
    color: white;
}

#menu-section .menu a i {
    color: rgb(185, 185, 185);
    width: 9.5vw;
    font-size: 3vw;
}

/*  ================= sidebar ================ */
#sidebar {
    position: sticky;
    top: 0;
    /* background-color: white; */
    height: 100vh;
    width: 21vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5vw;
    padding: 25px 0;
    padding-left: 45px;
}

#sidebar .profile,
#menu-section .profile {
    padding-left: 10px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar .profile .left {
    text-align: center;
    width: 100%;
}

#sidebar .profile .right,
#menu-section .profile .right {
    display: none;
}

#sidebar .profile .image {
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%);

}

#sidebar .profile img,
#menu-section .profile img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
}

#sidebar .profile .name h2 {
    font-size: 1.5vw;
    font-family: 'Goldman', sans-serif;
    text-transform: uppercase;
    margin-top: 10px;
    text-shadow: 3px 3px 3px rgb(3, 0, 155);
    font-weight: 100;
}

#sidebar .profile .name h2 span {
    font-size: 1.5vw;
    font-family: 'Goldman', sans-serif;
    text-transform: uppercase;
    margin-top: 10px;
    text-shadow: 3px 3px 3px rgb(3, 0, 155);
    font-weight: 100;
}

#sidebar .menu {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 3.5vw;
    align-items: flex-start;
    padding-left: 30px;
    padding-bottom: 40px;
}

#sidebar .menu a,
#menu-section .menu a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

#sidebar .menu a:hover p,
#sidebar .menu a:hover i {
    color: white;
}

#sidebar .menu a:visited {
    color: white;
}


#sidebar .menu p {
    font-size: 1.4vw;
    color: rgb(185, 185, 185);
    font-family: 'Heebo';
}

#sidebar .menu a i {
    color: rgb(185, 185, 185);
    width: 2.5vw;

}

/* ============== home ==================== */
#page1 {
    position: relative;
    background-color: #000;
    display: grid;
    grid-template-columns: 2fr 6fr;
    height: 100%;

}

#home {
    /* min-height: 100vh; */
    width: 100%;
    position: relative;
}

#home .top {
    height: 18vw;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 40px;
    padding-bottom: 4vw;
}

#home .top h1 {
    font-size: 3vw;

}

#home .top a {
    text-decoration: none;
}

#home .top a h4 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5vw;
    color: rgba(118, 118, 248, 0.829);
}

.box {
    border: 0.0625rem solid rgba(255, 255, 255, 0.193);
    border-radius: 8px;
    background-color: black;
}

.box h1 {
    font-size: 2.5vw;
}

.fbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.3vw;
    padding: 0px 2vw;
}

#home .center {
    position: relative;
    z-index: 2;
    height: 63vw;
    width: 100%;
    padding-right: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.4vw;
}

.center #box1 {
    box-shadow: none;
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1.3vw;
    background-color: transparent;
}

#box1 .inner-box {
    border: 0.0625rem solid rgba(255, 255, 255, 0.193);
    border-radius: 8px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#box1 .inner-box .num {
    font-size: 4vw;
}

#box2 a h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.9vw;
    color: rgba(118, 118, 248, 0.829);
}

#box3 {
    align-items: center;
    gap: 3vw;

}

#box3 .text {
    text-align: center;
}

#box3 a h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5vw;
    color: rgba(118, 118, 248, 0.829);
}

#box3 .video-card {
    height: 55%;
    width: 95%;
    border-radius: 5px;
    display: flex;
    
    overflow: hidden;
}

#box4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

#box4 .image-container {
    height: 55%;
    width: 95%;
    text-align: center;
}


#box4 img {
    height: 4vw;
    width: 4vw;
    margin: 1vw;
}

#box4 .image-container img:nth-child(4) {
    width: 6vw;
}

#box4 .image-container img:nth-child(9) {
    width: 6vw;
}

#box4 .image-container img:nth-child(10) {
    width: 10vw;
}

#home .bottom {
    height: 9vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2vw;
    padding: 10px;
    margin-top: 19vw;

}

.bottom .media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.media i {
    font-size: 2vw;
}

.bottom .coptright p {
    font-size: 1.3vw;
}

.bottom .coptright p i {
    font-size: 1.3vw;
}

.glow {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 65%;
    background-color: rgba(118, 118, 248, 0.829);
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    filter: blur(150px);
}



/* ==========================Project page=============== */

#page2 {
    position: relative;
    background-color: #000;
    display: grid;
    grid-template-columns: 2fr 6fr;
    height: 100%;
}

#project {
    /* min-height: 100vh; */
    width: 100%;
    position: relative;
    padding-right: 2vw;
}

#project .p-top {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.p-topbar {
    display: flex;
    align-items: center;
    gap: 17px;
}

#project .p-top .text p {
    font-size: 1.5vw;
}

#project .p-center {
    position: relative;
    z-index: 2;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4vw;
}


.p-center .project-box {
    height: 29vw;
    box-shadow: -.2vw -.2vw .6vw .1vw grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    border-radius: 8px;
    overflow: hidden;
}

.project-box .img-card {
    height: 60%;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: .4vw 0px .5vw .2vw rgb(105, 105, 105);
}


.project-box .img-card video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project-box .tool-box {
    display: flex;
    gap: 1vw;
    width: 100%;
    margin-left: 10%;
}

.project-box .project-name {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1vw;
}

.project-box .project-name h1 {
    font-size: 1.7vw;
    color: rgb(190, 190, 190);
}

.project-box .project-name i {
    font-size: 1.5vw;
}

.project-box .tool-box .tools {
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(32, 32, 32);
    box-shadow: -1px -1px 5px 1px rgb(75, 75, 75);
}

.project-box .tool-box .tools p {
    color: rgb(226, 226, 226);
}

#project .p-bottom {
    height: 9vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2vw;
    padding: 10px;
    margin-top: 9vw;
}

.media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.media i {
    font-size: 2vw;
}

.p-bottom .coptright p {
    font-size: 1.3vw;
}

.p-bottom .coptright p i {
    font-size: 1.3vw;
}

/* ======== contact =========== */

#page3 {
    background-color: #000;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 6fr;
    /* overflow: hidden; */
}

#contact {
    /* min-height: 100vh; */
    width: 100%;
    position: relative;
}

#contact .c-top {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;

}

#contact .c-center {
    position: relative;
    z-index: 2;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

#contact .c-center .container {
    height: 85%;
    width: 95%;
    background-color: rgb(18, 18, 18);
    border-radius: 5px;
    box-shadow: .3vw .3vw .5vw .4vw rgb(56, 56, 56);
    display: flex;
    position: relative;
}

#contact .c-center .container .left {
    width: 50%;
    height: 100%;
    /* background-color: rebeccapurple; */
}

#contact .c-center .container form {
    height: 100%;
    width: 100%;
    padding: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

#contact .c-center .container form input {
    font-size: 1.5vw;
}

form #btn {
    height: 4vw;
    width: 50%;
    background-color: rgb(35, 35, 35);
    box-shadow: .3vw .3vw .7vw rgb(0, 0, 0);
    border-radius: 1vw;
    font-size: 1.5vw;
    font-weight: 900;
    color: rgb(180, 180, 180);
    outline: none;
    border: none;
    margin: 0px auto;
    margin-top: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

form #btn:hover {
    background-color: rgb(24, 24, 24);
    color: rgb(146, 145, 145);
}


#contact .c-center .container form .text {
    background-color: inherit;
    width: 100%;
    height: 4vw;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(90, 86, 86);

}

#contact .c-center .container .right {
    width: 50%;
    height: 100%;
    /* background-color: lightcoral; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 7vw;
    padding-left: 4vw;
    padding-top: 25vh;


}

#contact .c-center .container .right h4,
#contact .c-center .container .right i {
    color: rgb(175, 175, 175);
    font-size: 1.3vw;
    margin-bottom: 1vw;
}

#contact .c-center .container .right h1 {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    font-size: 2.5vw;

}

#contact .c-center .container .right i {
    margin-right: 1.5vw;
}

#contact .c-bottom {
    height: 9vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2vw;
    padding: 10px;
    margin-top: 9vw;
}

.c-bottom .media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.media i {
    font-size: 2vw;
}

.c-bottom .coptright p {
    font-size: 1.3vw;
}

/* ============ About ============ */

#page4 {
    background-color: #000;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 6fr;

}

#about {
    /* min-height: 100vh; */
    width: 100%;
    position: relative;
}

#about .a-top {
    height: 35vh;
    width: 100%;
    display: flex;
    align-items: center;
}

#about .a-center {
    position: relative;
    z-index: 2;
    height: 38.4vw;
    width: 100%;
}

#about .a-center .container {
    height: 90%;
    width: 95%;
    box-shadow: .3vw .3vw .6vw .5vw rgb(56, 56, 56);
    display: flex;
    background-color: rgb(11, 11, 11);
    border-radius: 8px;
}

.a-center .a-left {
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-center .a-left .img-circle {
    height: 15vw;
    width: 15vw;
    box-shadow: 0px 0px 1vw .2vw pink,
        0px 0px 1vw .3vw aliceblue,
        0px 0px 1vw .5vw wheat;

    border-radius: 50%;
    position: relative;
}

.a-center .a-left .img-circle img {
    height: 115%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    transform: rotate(14deg);
    position: absolute;
    top: -15%;
}


.a-center .a-right {
    padding-right: 2vw;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    text-align: left;
    /* background-color: red; */
}

.a-center .a-right .heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1vw;
}

.a-center .a-right .line {
    height: 2px;
    width: 2vw;
    background-color: #fff;
    display: inline-block;
}

.a-center .a-right .heading h3 {
    font-family: 'Goldman', sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
}

.a-center .a-right p {
    font-size: 1.3vw;
}


#about .a-bottom {
    height: 9vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2vw;
    padding: 10px;
    margin-top: 9vw;
}


.media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.media i {
    font-size: 2vw;
}

.coptright p {
    font-size: 1.3vw;
}

.coptright p i {
    font-size: 1.3vw;
}

/* ========= Resume ========= */

#page5 {
    background-color: #000;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 6fr;
}

#resume {
    /* min-height: 100vh; */
    width: 100%;
    position: relative;
}

#resume .r-top {
    height: 35vh;
    width: 100%;
    display: flex;
    align-items: center;
}

#resume .r-center {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5vw;
    margin-bottom: 20vw;
}

.r-center .btn {
    background-color: rgb(255, 0, 0);
    font-weight: 900;
    padding: .8vw 1.4vw;
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgb(118, 118, 118);
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.r-center .btn i {
    color: white;
}

#resume .r-center img {
    border-radius: 5px;
    height: 720px;
}

#resume .r-bottom {
    height: 9vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2vw;
    padding: 10px;
    margin-top: 9vw;
}



/* =============== width between 1300px and 950px ======================  */
@media (max-width : 1300px) and (min-width : 950px) {

    #sidebar {
        gap: 7vw;
    }

    #sidebar .profile .name h2,
    #sidebar .profile .name h2 span {
        font-size: 1.8vw;
    }

    #sidebar .menu {
        gap: 4vw;
    }

    #sidebar .menu p {
        font-size: 2vw;
    }


    #contact .c-center {
        height: 50vw;
    }

}

/*  =========== 950 -- 650  ============ */
@media (max-width : 950px) and (min-width : 450px) {

    #page1,
    #page2,
    #page3,
    #page4,
    #page5 {
        display: block; 
    }

    .bar {
        height: .4vw;
        width: 11vw;
        background-color: #fff;
        display: inline-block;
    }

    #sidebar .menu {
        display: none;
    }

    #sidebar {
        position: relative;
        height: fit-content;
        width: 100%;
        padding: 0;

    }

    #sidebar .profile {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;
        padding: 7vw 4vw;

    }

    #sidebar .profile .left {
        margin: 0;
        width: fit-content;
    }

    #sidebar .profile .left .image {
        height: 15vw;
        width: 15vw;
    }

    #sidebar .profile .left .name h2 span,
    #sidebar .profile .left .name h2 {
        font-size: 2.8vw;
    }

    #sidebar .profile .right {
        display: block;
        width: fit-content;
        padding: 0;
        /* background-color: red; */
    }

    #sidebar .profile .right i {
        font-size: 8vw;
        font-weight: 100;
        color: white;
        cursor: pointer;
    }

    #home .top {
        padding: 0px 4vw;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 7px;
        margin-bottom: 8vw;
    }

    #home .top h1 {
        font-size: 5vw;
    }

    #home .top a h4 {
        font-size: 4vw;
    }

    #home .center {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        padding: 0px 4vw;
        height: fit-content;
        grid-gap: 2vw;
    }

    #home .center .box {
        border: 0.0625rem solid rgba(255, 255, 255, 0.288);
    }

    #home .center #box1 {
        border: none;
        grid-gap: 1.7vw;
    }

    #home .center #box1 .inner-box {
        padding: 8vw 0px;
        border: 0.0625rem solid rgba(255, 255, 255, 0.263);

    }

    #home .center #box1 .inner-box .num {
        font-size: 6vw;
    }

    #home .center #box1 .inner-box h1 {
        font-size: 5vw;
    }

    #home .center #box1 .inner-box p {
        font-size: 3vw;
    }

    #home .center #box2 {
        padding: 9vw 7vw;
    }

    #home .center .box h1 {
        font-size: 5vw;
    }

    #home .center .box h3 {
        font-size: 4vw;
    }

    #home .center #box2 p {
        font-size: 3vw;
    }

    #home .center #box3 {
        padding: 5vw 0;
    }

    #home .center #box3 .video-card {
        height: 85%;
        width: 85%;
    }

    #home .center #box4 {
        padding: 3vw 0;
        padding-bottom: 6vw;
    }

    #home .center #box4 .image-container img {
        height: 8vw;
        width: 8vw;
        margin: 1.8vw;
    }

    #home .center #box4 .image-container img:nth-child(4) {
        width: 12vw;
    }
    #home .center #box4 .image-container img:nth-child(9) {
        width: 10vw;    
    }
    #home .center #box4 .image-container img:nth-child(10) {
        width: 14vw;
        margin: 1.8vw 0;
    }
    


    #home .bottom,
    #project .p-bottom,
    #about .a-bottom,
    #contact .c-bottom,
    #resume .r-bottom {
        margin-top: 19vw;

    }

    .bottom .media i,
    .p-bottom .media i,
    .c-bottom .media i,
    .a-bottom .media i,
    .r-bottom .media i {
        font-size: 4vw;
    }

    .bottom .coptright p,
    .p-bottom .coptright p,
    .c-bottom .coptright p,
    .a-bottom .coptright p,
    .r-bottom .coptright p {
        font-size: 3vw;
    }

    .bottom .coptright p i,
    .p-bottom .coptright p i,
    .c-bottom .coptright p i,
    .a-bottom .coptright p i,
    .r-bottom .coptright p i {
        font-size: 3vw;
    }

    .glow {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 60%;
        width: 65%;
        background-color: rgba(118, 118, 248, 0.829);
        position: absolute;
        z-index: -1;
        border-radius: 50%;
        filter: blur(150px);
    }


    /* ========== project =========== */
    #project .p-top {
        padding: 0px 6vw;
        height: 10vh;
        margin-bottom: 8vw;
    }

 

    #project .p-top .p-topbar h1 {
        font-size: 5vw;
    }

    #project .p-top .text p {
        font-size: 2.5vw;
    }

    #project .p-center {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        padding: 0px 6vw;
        height: fit-content;
        grid-gap: 8vw;

    }

    .p-center .project-box {
        height: 60vw;
        gap: 4vw;
        box-shadow: -0.4vw -0.4vw 0.6vw 0.1vw grey;
    }
   

    .project-box .img-card {
        height: 65%;
        width: 100%;
    }


    .project-box .project-name h1 {
        font-size: 3.5vw;
    }

    .project-box .project-name i {
        font-size: 3vw;
    }

    .project-box .tool-box .tools {
        padding: 1vw;
        margin: 0px 1vw;
    }

    .project-box .tool-box .tools p {
        font-size: 2.4vw;
    }


    /* ========== contact =========== */
    #contact .c-top {
        padding: 0px 4vw;
        height: 10vh;
        margin-bottom: 8vw;
    }

    #contact .c-top h1 {
        font-size: 5vw;
    }

    #contact .c-top {
        padding: 0px 6vw;
        height: 10vh;
        margin-left: 7vw;
        margin-bottom: 5vw;
    }

    #contact .c-top h1 {
        font-size: 5vw;
    }

    #contact .c-center {
        align-items: center;
        display: flex;
        height: 50vw;
        justify-content: center;
        margin-bottom: 30vh;
        margin-top: 15vw;
    }

    #contact .c-center .container {
        height: 75vw;
        width: 75%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5vw;
        padding: 10vw 0;

    }

    #contact .c-center .container .left {
        width: 60%;
        height: 50%;
        align-items: center;
        justify-content: center;


    }

    #contact .c-center .left form {
        width: 100%;
    }

    #contact .c-center .left form input {
        font-size: 2.3vw;
        padding: 1vw;
    }
    #contact .c-center .left form #btn {
        padding: 1vw 0;
        padding-bottom: 3.5vw;
    }

    #contact .c-center .container .right {
        width: 80%;
        height: 50%;
        justify-content: center;
        align-items: center;
        gap: 4vw;
        padding: 0;


    }

    #contact .c-center .container .right h4,
    #contact .c-center .container .right i {
        color: rgb(175, 175, 175);
        font-size: 2.8vw;
        margin-bottom: 1vw;
    }

    /* ========== resume =========== */
    #resume .r-top {
        padding: 0px 4vw;
        height: 10vh;
        margin-bottom: 8vw;
    }

    #resume .r-top h1 {
        font-size: 5vw;
    }

    #resume .r-center {
        position: relative;
        z-index: 2;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3vw;
        margin-bottom: 20vw;
    }
    #resume .r-center img {
        width: 90vw;
        height: 118vw;
        object-fit: cover;
    }
    #resume .r-center .btn i {
        color: white;
        font-size: 3vw;
    }


    /* ========== about ========== */
    #about .a-top {
        padding: 0px 6vw;
        height: 10vh;
        margin-left: 7vw;
    }

    #about .a-top h1 {
        font-size: 5vw;
    }

    #about .a-center {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 65vw;
        margin-bottom: 20vh;
        margin-top: 5vw;
    }

    #about .a-center .container {
        height: 60vw;
        width: 75%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5vw;
        padding-bottom: 8vw;

    }

    .a-center .a-left {
        width: 80%;
        align-items: flex-end;

    }

    .a-center .a-right {
        width: 80%;
        justify-content: flex-start;
    }

    .a-center .a-right .heading h3 {

        font-size: 4vw;
        font-weight: 400;
    }

    .a-center .a-right p {
        font-size: 2vw;
    }

    .a-center .a-left .img-circle {
        height: 16vw;
        width: 16vw;

    }

}



/* ============= width less than 450 px =============== */

@media (max-width : 450px) {
    .bar {
        height: .5vw;
        width: 14vw;
        background-color: #fff;
        display: inline-block;
    }
    .p-topbar {
        gap: 12px;
    }

   

    #sidebar .menu {
        display: none;
    }
   
    #sidebar {
        position: relative;
        height: fit-content;
        width: 100%;
        padding: 0;
    }

    #sidebar .profile {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;
        padding: 7vw 4vw;
    }

    #sidebar .profile .left {
        margin: 0;
        width: fit-content;
    }

    #sidebar .profile .left .image {
        height: 20vw;
        width: 20vw;
    }

    #sidebar .profile .left .name h2 span,
    #sidebar .profile .left .name h2 {
        font-size: 3.6vw;
    }

    #sidebar .profile .right {
        display: block;
        width: fit-content;
        padding: 0;

    }

    #sidebar .profile .right i {
        font-size: 8vw;
        font-weight: 100;
        color: white;
        cursor: pointer;
    }


    #menu-section{
        gap:15vw;
    }
    #menu-section .menu a p,#menu-section .menu a i{
        font-size: 4.8vw;
    }
    #menu-section .menu {
        gap: 10vw;
    }

    #page1,
    #page2,
    #page3,
    #page4,
    #page5 {
        display: block;
    }

    #home .top {
        padding: 0px 4vw;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1vw;
        margin-bottom: 8vw;
    }

    #home .top h1 {
        font-size: 6vw;
    }

    #home .top a h4 {
        font-size: 5vw;
    }

    #home .center {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        padding: 0px 4vw;
        height: fit-content;
        grid-gap: 2vw;
    }

    #home .center .box {
        border: 0.0625rem solid rgba(255, 255, 255, 0.288);
    }

    #home .center #box1 {
        border: none;
        grid-gap: 1.8vw;
    }

    #home .center #box1 .inner-box {
        padding: 8vw 0px;
    }

    #home .center #box1 .inner-box .num {
        font-size: 8vw;
    }

    #home .center #box1 .inner-box h1 {
        font-size: 6vw;
    }

    #home .center #box1 .inner-box p {
        font-size: 4vw;
    }

    #home .center #box2 {
        padding: 9vw 7vw;
    }

    #home .center .box h1 {
        font-size: 6vw;
    }

    #home .center .box h3 {
        font-size: 5vw;
    }

    #home .center #box2 p {
        font-size: 4vw;
    }

    #box3 {
        padding: 5vw 0;
    }

    #box3 .video-card {
        height: 85%;
        width: 85%;
    }

    #box4 {
        padding: 3vw 0;
        padding-bottom: 6vw;
    }

    #box4 .image-container img {
        height: 8vw;
        width: 8vw;
        margin: 1.8vw;
    }

    #box4 .image-container img:nth-child(4) {
        width: 12vw;
    }
    #home .center #box4 .image-container img:nth-child(9) {
        width: 10vw;    
    }
    #home .center #box4 .image-container img:nth-child(10) {
        width: 16vw;
        margin: 1.8vw 0;
    }

    .bottom,
    .p-bottom,
    .a-bottom,
    .c-bottom,
    .r-bottom {
        margin-top: 19vw;
    }

    .bottom .media i,
    .p-bottom .media i,
    .c-bottom .media i,
    .a-bottom .media i,
    .r-bottom .media i {
        font-size: 5vw;
    }

    .bottom .coptright p,
    .p-bottom .coptright p,
    .c-bottom .coptright p,
    .a-bottom .coptright p,
    .r-bottom .coptright p {
        font-size: 4vw;
    }

    .bottom .coptright p i,
    .p-bottom .coptright p i,
    .c-bottom .coptright p i,
    .a-bottom .coptright p i,
    .r-bottom .coptright p i {
        font-size: 4vw;
    }


    /* ============== project ============== */
    #project .p-top {
        padding: 0px 6vw;
        height: 10vh;
        margin-bottom: 8vw;
    }

 

    #project .p-top h1 {
        font-size: 6vw;
    }

    #project .p-top .text p {
        font-size: 3.5vw;
    }

    #project .p-center {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        padding: 0px 6vw;
        height: fit-content;
        grid-gap: 8vw;

    }

    .p-center .project-box {
        height: 65vw;
        gap: 4vw; 
        box-shadow: -0.4vw -0.4vw .7vw .3vw rgb(95, 95, 95);
        
    }

    .project-box .img-card {
        height: 65%;
        width: 100%;
    }


    .project-box .project-name h1 {
        font-size: 4.5vw;
    }

    .project-box .project-name i {
        font-size: 4vw;

    }

    .project-box .tool-box .tools {
        padding: 1vw;
        margin: 0px 1vw;
    }

    .project-box .tool-box .tools p {
        font-size: 3.4vw;
    }


    /* ========== contact =========== */
    #contact .c-top h1 {
        font-size: 6vw;
    }

    #contact .c-top {
        padding: 0px 6vw;
        height: 10vh;
        margin-left: 7vw;
        margin-bottom: 5vw;
    }

    #contact .c-center {
        align-items: center;
        display: flex;
        height: 50vw;
        justify-content: center;
        margin-bottom: 30vh;
        margin-top: 15vw;

    }

    #contact .c-center .container {
        height: 75vw;
        width: 75%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5vw;
        padding: 10vw 0;

    }

    #contact .c-center .container .left {
        width: 60%;
        height: 50%;
        align-items: center;
        justify-content: center;


    }

    #contact .c-center .left form {
        width: 100%;
    }

    #contact .c-center .left form input {
        font-size: 3vw;
    }
    #contact .c-center .left form #btn {
        font-size: 3vw;
        padding: 1vw 11vw;
        padding-bottom: 4.5vw;
    }

    #contact .c-center .container .right {
        width: 80%;
        height: 50%;
        justify-content: center;
        align-items: center;
        gap: 4vw;
        padding: 0;


    }

    #contact .c-center .container .right h1 {
        font-size: 4vw;
    }

    #contact .c-center .container .right h4,
    #contact .c-center .container .right i {
        color: rgb(175, 175, 175);
        font-size: 2.8vw;
        margin-bottom: 1vw;
    }



    /* ========== resume =========== */
    #resume .r-top {
        padding: 0px 4vw;
        height: 10vh;
        margin-bottom: 8vw;
    }

    #resume .r-top h1 {
        font-size: 6vw;
    }

    #resume .r-center {
        position: relative;
        z-index: 2;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3vw;
        margin-bottom: 20vw;
    }
    #resume .r-center img {
        width: 90vw;
        height: 118vw;
        object-fit: cover;
    }
    #resume .r-center .btn i {
        color: white;
        font-size: 4vw;
    }

    .glow {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 85%;
        width: 65%;
        background-color: rgba(118, 118, 248, 0.829);
        position: absolute;
        z-index: -1;
        border-radius: 50%;
        filter: blur(150px);
    }

    /* =========== about =================== */

    #about .a-top {
        padding: 0px 6vw;
        height: 10vh;
        margin-left: 7vw;
    }

    #about .a-top h1 {
        font-size: 6vw;
    }

    #about .a-center {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 65vw;
        margin-bottom: 25vh;
        margin-top: 10vw;
    }

    #about .a-center .container {
        height: 70vw;
        width: 75%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5vw;
        padding-bottom: 8vw;

    }

    .a-center .a-left {
        width: 80%;
        align-items: flex-end;

    }

    .a-center .a-right {
        width: 80%;
        justify-content: flex-start;
    }

    .a-center .a-right .heading h3 {

        font-size: 5vw;
        font-weight: 400;
    }

    .a-center .a-right p {
        font-size: 2.3vw;
    }

    .a-center .a-left .img-circle {
        height: 19vw;
        width: 19vw;

    }
}


/* ===========650 ============ */

 @media (max-width:650px) and (min-width:450px){
    .bar {
        height: .5vw;
        width: 15vw;
        background-color: #fff;
        display: inline-block;
    }
    
    #menu-section {
        display: none;
        background-color: black;
        position: fixed;
        left: -100%;
        top: 0%;
        height: 100vh;
        width: 50%;
        z-index: 999;
        display: flex;
        flex-direction: column;
        gap: 15vw;
        overflow: hidden;

    }

    #menu-section .menu {
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        gap: 9vw;
        align-items: flex-start;
        padding-left: 30px;
        padding-bottom: 40px;
    }


    #menu-section .profile .name h2,
    #menu-section .profile .name h2 span {
        font-size: 3vw;
        text-align: center;
        font-family: 'Goldman', sans-serif;
        text-transform: uppercase;
        margin-top: 10px;
        text-shadow: 3px 3px 3px rgb(3, 0, 155);
        font-weight: 100;
    }

    #menu-section .profile .image {
        height: 20vw;
        width: 20vw;
        border-radius: 50%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    #menu-section .menu p {
        font-size: 5vw;
        color: rgb(185, 185, 185);
        font-family: 'Heebo';
    }

    #menu-section .menu a i {
        color: rgb(185, 185, 185);
        width: 7.5vw;
        font-size: 5vw;
    }

    /* resume */
    #resume .r-center img {
        width: 90vw;
        object-fit: cover;
    }

} 